
    

. {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%);
}

.container {
    margin: 0 auto;
}


.form-area {
    justify-content: center;
    align-items: center;


}

.row.single-form {
    box-shadow: 0 2px 20px -5px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}


.left h2 {
    font-family: poppins;
    color: #fff;
    font-weight: 700;
    font-size: 48px;
}

.left h2 span {
    font-weight: 100;
}

.single-form {
    background: #fff;
}

.right {
    padding: 2px 100px;
    position: relative;
    width: 80%;
    margin: 0 auto;

}

input {
    box-shadow: 2px 5px 6px black;
}

.right i {
    position: absolute;
    font-size: 80px;
    left: -27px;
    top: 40%;
    color: #fff;
}

form {
    margin: 200px auto 0;
    justify-content: center;
    align-items: center;
}

.form-control {
    border: 2px solid #000;
    height: 40px;
}

button.btn-primary {


    margin-left: 17%;

    font-size: 16px;
    text-align: center;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

button.btn-primary:hover {
    background-color: #252525;
}




@media (min-width:768px) and (max-width:991px) {
    .right i {
        top: -52px;
        transform: rotate(90deg);
        left: 50%;
    }

    footer {
        display: flex;
        flex-direction: row;
        font-size: 2rem;
        justify-content: space-between;
        align-items: center;
        height: 65%;
        width: 40%;
        background-color: pink;
        margin: 0 auto;
    }

}

@media (max-width:767px) {
    .left {
        padding: 90px 15px;
        text-align: center;
    }

    .left h2 {
        font-size: 25px;
    }

    .right {
        padding: 25px;
    }

    .right i {
        top: -52px;
        transform: rotate(90deg);
        left: 46%;
    }

    .right button {
        width: 150px;
        padding: 12px 0;
    }

}

@media (min-width:380px) {
    html {
        height: 90%;
        width: 80%;
    }

    footer {
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        justify-content: space-between;
        align-items: center;
        width: 93%;
        background-color: pink;
        margin: 0 auto;

    }
}